.categoriesList {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background: var(--white);
    border-top-left-radius: 20px;
    position: absolute;
    left: 60%;
}