.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 130px;
}

.heroSection {
    display: flex;
    align-items: center;
}

.descriptor {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 70px;
}

.discount {
    font-family: var(--font-secondary);
    font-size: 30px;
    color: var(--primary);
    font-weight: 300;
}

.shopNow {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.core {
    font-size: 60px;
    color: var(--primary);
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    font-family: var(--font-primary);
}

.healthy {
    color: var(--yellow);
    padding: 0 10px;
}

.categories {
    display: flex;
    align-items: end;
    gap: 30px;
    position: relative;
    left: -20%;
}

.categoryImage {
    position: relative;
}

.categoryDiscount {
    position: absolute;
    font-family: var(--font-secondary);
    font-size: 16px;
    color: var(--white);
    background: rgba(0, 0, 0, .3);
    padding: 5px 10px;
    border-radius: 16px;
    top: 5%;
    left: 79%;
}

.deals {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.dealsHat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    width: 100%;
}

.cards {
    display: flex;
    gap: 20px;
}

.special {
    display: flex;
    gap: 50px;
}

.discountSection {
    width: 100%;
    position: relative;
}

.discountBgImage {
    width: 1920px;
}

.discountDescriptor {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 400px;
    background: var(--white);
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 45%;
    left: 60%;
}

.discountPercent {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--blue);
    font-weight: 700;
}

.discountTitle {
    font-family: var(--font-secondary);
    font-size: 38px;
    color: var(--primary);
    font-weight: 900;
}

.newArrivals {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.arrivalsHat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.path {
    display: flex;
    gap: 6px;
    font-family: var(--font-primary);
    color: var(--primary);
    font-size: 16px;
    font-weight: 500;
}

.currentPath {
    color: var(--blue);
    font-weight: 600;
}

.arrivalCards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px;
}

.topVenders {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.vendorsDescriptor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.vendorsTitle {
    font-family: var(--font-primary);
    font-size: 30px;
    display: flex;
    gap: 5px;
    font-weight: 700;
    color: var(--primary);
}

.vendors {
    color: var(--yellow);
}

.vendorSecondary {
    font-family: var(--font-secondary);
    font-size: 16px;
    color: var(--primary);
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.aboutVendors {
    display: flex;
    align-items: start;
    gap: 100px;
}

.vendorsImages {
    position: relative;
}

.arrow {
    position: absolute;
    top: 4%;
    left: 90%;
}

.localShop {
    position: absolute;
    top: 79%;
    left: 77%;
    padding: 10px;
    background: var(--white);
    border-top-left-radius: 20px;
}