.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 130px;
}

.heroSection {
    display: flex;
    align-items: center;
}

.descriptor {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 70px;
}

.discount {
    font-family: var(--font-secondary);
    font-size: 30px;
    color: var(--primary);
    font-weight: 300;
}

.shopNow {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.core {
    font-size: 60px;
    color: var(--primary);
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    font-family: var(--font-primary);
}

.healthy {
    color: var(--yellow);
    padding: 0 10px;
}

.categories {
    display: flex;
    align-items: end;
    gap: 30px;
    position: relative;
    left: -20%;
}

.categoryImage {
    position: relative;
}

.categoryDiscount {
    position: absolute;
    font-family: var(--font-secondary);
    font-size: 16px;
    color: var(--white);
    background: rgba(0, 0, 0, .3);
    padding: 5px 10px;
    border-radius: 16px;
    top: 5%;
    left: 79%;
}

.deals {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.dealsHat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    width: 100%;
}

.cards {
    display: flex;
    gap: 20px;
}

.special {
    display: flex;
    gap: 50px;
}