.input {
    width: 100%;
    color: var(--primary);
    font-family: var(--font-secondary);
    font-size: 18px;
    padding: 10px;
    border: 1px solid var(--primary-light);
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: top;
    background: var(--white);
}

.input:focus {
    outline: 1px solid var(--primary-dark);
}