:root {
  /* color pallete */
  --primary: #3D4650;
  --primary-light: rgba(61, 70, 80, 0.3);
  --primary-dark: rgb(40, 47, 54);
  --yellow: #FFB823;
  --white: #F7F7F7;
  --black: #040303;

  /* fonts */
  --font-primary: Quicksand, sans-serif;
  --font-secondary: 'Nunito Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--white);
}

.section {
  padding: 40px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}