.title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--primary);
}

.mainText {
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    gap: 7px;
}

.individualText {
    color: var(--blue);
}

.secondaryText {
    font-family: var(--font-secondary);
    font-weight: 300;
    text-align: center;
}