.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-secondary);
    gap: 20px;
}

.hat {
    background: var(--primary);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 14px 180px;
}

.processes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 120px;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.section {
    display: flex;
    align-items: center;
    gap: 50px;
}