.brandsDirectories {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.directories {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
}

.directory {
    display: flex;
    align-items: start;
    gap: 10px;
    font-family: var(--font-primary);
    color: var(--primary);
}

.directoryTitle {
    font-size: 16px;
    font-weight: 700;
}

.directoryList {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    list-style: none;
    gap: 10px;
    align-items: center;
}

.directoryItem {
    font-size: 14px;
    font-weight: 400;
}